body {
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a, a:hover, a:focus {
    color: #3a75fb; }

.color-blue {
    color: #30a5ff; }

.form-control:focus {
    border: 1px solid #3a75fb;
    box-shadow: inset 0px 0px 0px 1px #3a75fb; }

.navbar-custom {
    background: #191a1d; }

.navbar-header .navbar-brand span {
    color: #3a75fb; }

.dropdown-menu li a:hover {
    color: #3a75fb; }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #3a75fb !important;
    border-color: #3a75fb !important; }

.btn-link, .page-link, .text-primary {
    color: #3a75fb !important; }

.btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
    color: #5b8dff !important; }

.label-info {
    background-color: #3a75fb; }

.label-info[href]:hover, .label-info[href]:focus {
    background-color: #3a75fb; }

.panel-primary > .panel-heading {
    background-color: #3a75fb; }

.timeline-badge.primary {
    background-color: #3a75fb !important; }

.progress-bar {
    background-color: #3a75fb; }

.nav-tabs li.active a {
    color: #3a75fb; }

.nav-pills li.active a, .nav-pills li.active a:hover {
    background: #3a75fb; }

.navbar input:focus {
    border: 1px solid #3a75fb;
    box-shadow: inset 0px 0px 0px 1px #3a75fb; }

.sidebar {
    background: #292a2d; }

.sidebar .form-control {
    border: 1px solid #2f2b33;
    box-shadow: inset 0px 0px 0px 1px #2f2b33;
    color: #fff;
    background: #191a1d; }

.form-control:focus {
    border: 1px solid #3a75fb;
    box-shadow: inset 0px 0px 0px 1px #3a75fb; }

.sidebar ul.nav ul.children,
.sidebar ul.nav ul.children li a {
    background: #191a1d;
    color: #fff; }

.sidebar ul.nav li a {
    color: #fff; }

.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
    background-color: #3a75fb;
    color: #fff; }

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
    background-color: #3a75fb; }

.sidebar ul.nav li.current a {
    background-color: #3a75fb; }

.profile-usertitle-name {
    color: #fff; }

.profile-sidebar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    background-color: #3a75fb; }

.chart {
    filter: hue-rotate(15deg) saturate(100%); }
